.contenedor {
  width: 300px;
  margin: 10% auto;
}
.contenedor .jumbotron {
  padding: 5%;
  background-color: #e3f2fd;
}

.contenedor-cuestiones {
  margin: 5% auto;
}
.contenedor-cuestion {
  background-color: #e3f2fd;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.navbar {
  background-color: #e3f2fd;
}
.delete-btn {
  float: right;
}
.btn {
  margin-right: 5px;
}
.texto-destacado {
    background-color: whitesmoke;
    text-align: center;
    padding-top: 10px;
  
}